<!--@subject {{trans "Abandoned Cart Notification"}} @-->

{{template config_path="design/email/header_template"}}

<div class="abandoned-email-template">
    <div class="abandoned-email-container">
        <p class="abandoned-title">{{trans "Dear"}} <strong>{{var customer_name|escape}}</strong>, </p>
        <p>{{trans "Please, return in your cart to finish your buy."}}</p>
        <p><a style="color: #0A246A" href="{{var customer_login}}">{{trans "Login"}}</a> </p>
    </div>
</div>

{{template config_path="design/email/footer_template"}}
